header {
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  
  body {
    background: url(/assets/images/background.jpg) no-repeat center center
      fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.5);
  }
  
  input,
  textarea {
    justify-self: stretch;
  }
  
  footer {
    margin-top: 20px;
    border-top: 5px;
    border-color:rgb(85, 162, 165);
    border-style: solid;
    background-color: rgb(102, 102, 102);
    color: #ffffff;
  }
  

  .navbar {
    padding: 0 16px;
  }
  
  .navbar-brand {
    padding: 32px;
    background-color:rgb(85, 162, 165);
    color: #ffffff;
    font-size: 24px ;
  }
  
  .navbar-light .navbar-brand {
    color: #ffff;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffffff;
  }
  
  .navbar-nav {
    padding-right: 32px;
  }
  
  .card {
    align-content: center;
    margin: 15px;
    max-width: 500px;
  }
  
  .btn-primary {
    background-color: #59aaa5;
    border-color: #59aaa5;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #59aaa5;
    border-color: #59aaa5;
  }
  
  .btn:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .btn-primary.focus,
  .btn-primary:focus {
    color: #fff;
    background-color: #4e8d89;
    border-color: #4e8d89;
    box-shadow: 0 0 0 0.2rem #4e8d89;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4e8d89;
    border-color: #4e8d89;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(182, 182, 182);
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .my-portfolio,
  .my-contact {
    margin: 16px 16px;
  }
  
  .my-col {
    margin: 10px;
  }
  
  #contact-form {
    width: 100%;
  }
  #aboutMe {
      float: left;
  }

